
/* sizing */
.bu-round.bu-sm{
    padding: .5rem;
}
.bu-sm{
    padding: .25rem 1rem;
    font-size: .75rem;
}

.bu-sm .icon{
    height: .75rem;
    width: .75rem;
}

.bu-round.bu-med{
    padding: .75rem;
}
.bu-med{
    padding: .5rem 1rem;
    font-size: .75rem;
}
.bu-med .icon{
    height: .875rem;
    width: .875rem;
}
.bu-round.bu-lg{
    padding: 1rem;
}
.bu-lg{
    padding: 1rem 1.5rem;
    font-size: 1rem;
}
.bu-lg .icon{
    height: 1rem;
    width: 1rem;
}




/* button styles */

/* bu-secondary */

.bu-secondary{
    background-color: var(--clr-primary-neutral-000);
    border: 1px solid var(--clr-secondary-200);
    color: var(--clr-secondary-400);
}

.bu-secondary:hover{
    border-color: var(--clr-secondary-400);
    color: var(--clr-secondary-500);
}

.bu-secondary:active{
    background-color: var(--clr-secondary-100);
    border-color: var(--clr-secondary-200);
    color: var(--clr-secondary-500);
}

.bu-secondary:disabled{
    background-color: var(--clr-primary-neutral-000);
    border-color: var(--clr-secondary-100);
    color: var(--clr-secondary-300);
}

.bu-secondary:hover path,.bu-secondary:active path{
    fill: var(--clr-secondary-500);
}
.bu-secondary path{
    fill: var(--clr-secondary-400);
}
.bu-secondary:disabled path{
    fill: var(--clr-secondary-300);
}