.top-nav{
    padding: 2.5rem 2rem 2.5rem 3.75rem;
    border-bottom: 1px solid var(--clr-secondary-200);
}
.top-nav__right{
    margin-left: auto;
}
.top-nav__pfp{
    height: 2.75rem;
    width: 2.75rem;
}

.bottom-nav{
    padding: 5rem 3.75rem;
    border-bottom: 1px solid var(--clr-secondary-200);
}

.bottom-nav__col a , .bottom-nav__col a:visited{
    text-decoration: none;
    color: var(--clr-neutral);
}
.bottom-nav__col a:hover , .bottom-nav__col a:active{
    text-decoration: underline;
}

.legal{
    padding: 1rem 3.75rem;
}

.legal a{
    font-weight: var(--w-bold);
    color: var(--clr-secondary-500);
    text-decoration: none;
}