.search-form * {
    border: none;
}

.search-form button{
    border-radius: 50%;
    background-color: var(--clr-primary-neutral-000);
}
.search-form input::placeholder{
    font-weight: var(--w-medium);
}
.search-form input:focus{
    outline: none;
}
.search-form input{
    min-width: 14rem;
}

.search-form {
    padding: .625rem 1.25rem;
    border-radius: 4.375rem;
    border: 1px solid var(--clr-secondary-200);
}