.nav-bar{
    padding: 2.5rem 2rem 2.5rem 3.75rem;
    border-bottom: 1px solid var(--clr-secondary-200);
}
.nav-bar__right{
    margin-left: auto;
}
.nav-bar__pfp{
    height: 2.75rem;
    width: 2.75rem;
}

